div {
  font-family: SanFrancisco;
}
.logo {
  width: 95vmin;
}
.formBody {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  overflow-x: hidden;
}
.song-checkbox {
  position: absolute;
  left: 7vmin;
  width: 30px;
  height: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.dashboardButton {
  width: 50%;
}

.text-center {
  text-align: center;
  font-family: SanFrancisco;
}

.version-select {
  text-align: center;
}

.selected-li {
  white-space: pre;
}
.search-input {
  width: 50vw;
  text-align: center;
}
.li {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  margin-top: .2vw;
}

.blue {
  color: blue;
}

.loginButton {
  width: 30vmax;
}

.hide {
  display: none;
}

.preload {
  visibility: hidden;
}

.content-area {
  height: 400px;
}

.no-margin {
  margin: 0;
}

@font-face {
    font-family: SanFrancisco;
    src: url(SF.otf);
}
