* {
  font-family: SanFrancisco, Lucida-Unicode;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.logo {
  width: 95vmin;
}
.app {
  background-image: url(bg.png);
}
.formBody {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  overflow-x: hidden;
}
.btn-sort {
  font-size: 1vw;
}
.img-tutorial-1 {
  position: relative;
  left: 12.5%;
  width: 75%;
}
.img-tutorial-2 {
  position: relative;
  left: 40%;
  width: 20%;
}
.img-tutorial-3 {
  position: relative;
  left: 30%;
  width: 40%;
}


.no-padding {
  padding: 0;
}
.viewBody {
  width: 100vw;
  overflow-x: hidden;

}
.white-space-pre {
  white-space: pre;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.language {
  cursor: pointer;
}
.clean-label {
  padding: 1vw;
  font-size: 1.5vw;
}
.song-checkbox {
  position: absolute;
  left: 7vw;
  height: 65%;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1.4);
  -ms-transform: translateY(-50%) scale(1.4);
  transform: translateY(-50%) scale(1.4);
  transition: 0.5s filter;
}
.song-checkbox:hover{
  filter: brightness(80%);
}
.select-fetch {
  width: calc(16.8vw + 100%);
  font-size: 1.2em;
}

.dashboardButton {
  width: 50%;
}

.text-center {
  text-align: center;
}
.x-right {
  font-size: 2em;
}
.fullwidth {
  width: 100%;
}

.version-select {
  text-align: center;
}

.selected-li {
  white-space: pre;
}
.search-input {
  width: 50vw;
  text-align: center;
  font-size: 0.9em;
}
.x-search {
  right: 25vw;
  font-size: 1em;
  top: .3em;
}
.li {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: .2vw;
}
.deselectAll {
  position: relative;
  left: 10%;
  font-size: 0.9em;
  padding: 0.2em;
  max-width: 100vw;
}

.blue {
  color: blue;
}

.loginButton {
  width: 48vmin;
}

.hide {
  display: none;
}

.preload {
  visibility: hidden;
}

.content-area {
  height: 400px;
}

.no-margin {
  margin: 0;
}

@font-face {
    font-family: SanFrancisco;
    src: url(SF.otf);
}

@font-face {
  font-family: Lucida-Unicode;
  src: url(lucida-unicode.ttf);
}

@media only screen and (max-width: 500px) {
    .btn-note {
      width: 15.5vw;
    }
    .btn-fetch {
      font-size: 2.3vmin;
    }
    .view-button {
      font-size: 3.2vmin;
    }
    .field-fetch {
      font-size: 2.4vmin;
    }
    .select-fetch {
      font-size: 2.5vw !important;
    }
    .fetch-label {
      width: 16vw !important;
      font-size: 2.3vw !important;
    }
    .search-input {
      font-size: 0.5em !important;
    }
    .x-search {
      top: .1em;
    }
}

@media only screen and (max-width: 1050px) {
  .fetch-label {
    padding: 1vw;
    width: 16vw;
    font-size: 1.5vw;
  }
  .search-input {
    font-size: 0.75em;
  }
}
